/target
.DS_Store
*.png
!demo.png
/build/
www/node_modules/
www/static/build/*.hex
!www/static/build/furuta.ino.hex
*.part

rom/
www/static/app/build/esp32.esp32.esp32/
app/build/esp32.esp32.esp32/
app/

www/static/sesame/build/esp32.esp32.esp32/
sesame/
